<body class="welcome">
<div id="header">
	<h1>MARIA NIFOROS</h1>
	<h3>FINE ANTIQUE LACE, LINENS, & TEXTILES</h3>
</div>

<div id="categories">

	<h5>Browse by Category</h5>

	<div id="cat-list">

		<p><a href="/items">ALL ITEMS</a></p>

		<% @categories.each do |category| %>
			<p><a href="/items?category_id=<%= category.id %>"><%= category.name.upcase %></a></p>
		<% end %>

	</div>

</div>

<div id="keywords">

	<h5>Search by Keywords</h5>

	<form action="/items" method="get">
		<div id="key-list">

			<% @keywords.each do |keyword| %>
				<input type="checkbox" name="keyword_ids[]" value="<%= keyword.id %>"/> <%= keyword.phrase %><br>
			<% end %>

		 </div>
	  <input type="submit" value="Search"/>
	  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	</form> 


</div>

<div id="footer">
	<% if (session[:user_id] == nil) %>
	 	<h5><a href="/login">LOGIN</a> | <a href="/about">ABOUT</a> | <a href="mailto:ariam7@gmail.com">CONTACT</a></h5>
	 <% else %>
	 	<h5>You are logged in as: <%= session[:user_name] %> | 
	 	<form action="/logout" method="post">
	 		<input type="submit" value="LOGOUT"/>
	 		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	 		<input type="hidden" name="_method" value="delete"/>
	 	</form>
	 	| <a href="/about">ABOUT</a> | <a href="mailto:ariam7@gmail.com">CONTACT</a> 
	 	<% if (session[:is_admin] == 'true') %>
	 		| <a href="/admin">ADMIN CENTER</a></h5> 
	 	<% end %>
	 <% end %>
</div>
</body>



