<body class="item" id="item">

<% if (session[:is_admin] != 'true') %>
	<h2>Sorry, you do not have permission to access this page.</h2>
	<h4>Please <a href="/login">login</a> to continue</h4>
<% else %>

	<h5 class="topnav">You are logged in as: <%= session[:user_name] %> | <a href="/">HOME</a> | <a href="/items/<%= @item.id %>">BACK TO ITEM</a></h5>

	<h1 class="headline">EDIT ITEM</h1>

	<div><h4><%= link_to "Manage Images for this Item", "/items/#{@item.id}/images" %></h4></div>

	<div id="edit-item-form">

		<%= form_for @item, url: {action: "update"} do |f| %>
			
			<%= f.label :code, "Code" %>
			<%= f.text_field :code %><br>
			<%= f.label :caption, "Caption" %>
			<%= f.text_field :caption %><br>
			<%= f.label :condition, "Condition" %>
			<%= f.text_field :condition %><br>
			<%= f.label :measurements, "Measurements" %>
			<%= f.text_field :measurements %><br>
			<%= f.label :date_acquired, "Date Acquired" %>
			<%= f.date_field :date_acquired %><br>
			<%= f.label :date_sold, "Date Sold" %>
			<%= f.date_field :date_sold %><br>
			<%= f.label :purchase_price, "Purchase Price" %>
			<%= f.text_field :purchase_price, {:class => "short"} %><br>
			<%= f.label :selling_price, "Selling Price" %>
			<%= f.text_field :selling_price, {:class => "short"} %><br>
			<%= f.label :description, "Description" %>
			<%= f.text_area :description %><br>

			<%= f.label :is_available, "Item Available?" %>
			<%= f.radio_button(:is_available, "true") %>
			<%= f.label(:is_available, "Yes", {:class => "short"}) %>
			<%= f.radio_button(:is_available, "false") %>
			<%= f.label(:is_available, "No", {:class => "short"}) %><br>
			
			
			<div id="submit"><%= f.submit "Update", {:class => "button"}  %></div>
		<% end %>

	</div>

	</div>

	<div id="item-cats-keys">
		<h5>CATEGORIES</h5>

		<form action="" method="post">
			<div class="cat-key-list" id="item_<%= @item.id %>">

				<% @categories.each do |category| %> 
					<% if (@item.categories.include?(category)) %>
						<input type="checkbox" class="cat" id="cat_<%= category.id %>" checked/> <%= category.name %><br>
					<% else %>
						<input type="checkbox" class="cat" id="cat_<%= category.id %>"/> <%= category.name %><br>
					<% end %>
				<% end %>

			 </div>
		  
		  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>

	<div id="item-cats-keys">
		<h5>KEYWORDS</h5>

		<form action="" method="post">
			<div class="cat-key-list" id="item_<%= @item.id %>">

				<% @keywords.each do |keyword| %>
					<% if (@item.keywords.include?(keyword)) %>
						<input type="checkbox" class="key" id="key_<%= keyword.id %>" checked/> <%= keyword.phrase %><br>
					<% else %>
						<input type="checkbox" class="key" id="key_<%= keyword.id %>"/> <%= keyword.phrase %><br>
					<% end %>
				<% end %>

			 </div>
		  
		  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>

<% end %>