<body class="item">
<% if (session[:is_admin] == 'true') %>

	<h5 class="topnav">You are logged in as: <%= session[:user_name] %> | <a href="/">HOME</a> | <a href="/admin">ADMIN CENTER</a></h5>

<% else %>
	<h5 class="topnav"><a href="/">HOME</a></h5>
<% end %>

<% if(@category) %>
	<h1 class="headline"><%= @category.name.upcase %></h1>
<% elsif (@keywords) %>
	<h1 class="headline">KEYWORD SEARCH</h1>
	<h5><% @keywords.each do |key| %>
			<span class="key"><%= key.phrase %></span>
		<% end %>
	</h5>
<% else %>
	<h1 class="headline">ALL ITEMS</h1>
<% end %>

<% if (@items.count == 0) %>
	<br>
	<h4>Sorry, there were no items found.</h4>
	<h4>Please try another search or category.</h4>
<% end %>

<div id="results">

	<% @items.each do |item| %>

		<div class="preview">

			<% if (item.thumb_image_id != nil) %>
			  <% thumb = Image.find(item.thumb_image_id) %>
			  <% if (@category) %>
					<a href="/categories/<%= @category.id %>/items/<%= item.id %>" class="thumb"><%= image_tag thumb.image.thumb('450x400#').url if thumb.image_stored? %></a> 
				<% else %>
					<a href="/items/<%= item.id %>" class="thumb"><%= image_tag thumb.image.thumb('450x400#').url if thumb.image_stored? %></a> 
				<% end %>
			<% elsif (item.images.first) %>
				<% if (@category) %>
					<a href="/categories/<%= @category.id %>/items/<%= item.id %>" class="thumb"><%= image_tag item.images.first.image.thumb('450x400#').url if item.images.first.image_stored? %></a> 
				<% else %>
					<a href="/items/<%= item.id %>" class="thumb"><%= image_tag item.images.first.image.thumb('450x400#').url if item.images.first.image_stored? %></a> 
				<% end %>
			<% else %>
				<div class="no-image">NO IMAGE</div>
			<% end %>
	
			<div class="blurb">

				<h4><%= item.code %></h4>

				<% if (@category) %>
					<h3><a href="/categories/<%= @category.id %>/items/<%= item.id %>"><%= item.caption %></a></h3>
				<% else %>
					<h3><a href="/items/<%= item.id %>"><%= item.caption %></a></h3>
				<% end %>

				<p><%= item.description %></p>

				<% if (item.categories.count > 0) %>
					<h5><% item.categories.each do |cat| %>
							<span class="cat"><%= cat.name %></span>
						<% end %>
					</h5>
				<% end %>

				<% if (item.keywords.count > 0) %>
					<h5><% item.keywords.each do |key| %>
							<span class="key"><%= key.phrase %></span>
						<% end %>
					</h5>
				<% end %>

			</div>

		</div>

	<% end %>

</div>
</body>

