<body class="item">

<% if (session[:is_admin] != 'true') %>
	<h2>Sorry, you do not have permission to access this page.</h2>
	<h4>Please <a href="/login">login</a> to continue</h4>
<% else %>

	<h5 class="topnav">You are logged in as: <%= session[:user_name] %> | <a href="/">HOME</a> | <a href="/items">BACK TO ITEMS</a> | <a href="/admin">ADMIN CENTER</a></h5>

	<h1 class="headline">NEW ITEM</h1>

	<div id="item-form">

		<%= form_for @item, url: {action: "create"} do |f| %>
			
			<%= f.label :code, "Code" %>
			<%= f.text_field :code %><br>
			<%= f.label :caption, "Caption" %>
			<%= f.text_field :caption %><br>
			<%= f.label :condition, "Condition" %>
			<%= f.text_field :condition %><br>
			<%= f.label :measurements, "Measurements" %>
			<%= f.text_field :measurements %><br>
			<%= f.label :date_acquired, "Date Acquired" %>
			<%= f.date_field :date_acquired %><br>
			<%= f.label :date_sold, "Date Sold" %>
			<%= f.date_field :date_sold %><br>
			<%= f.label :purchase_price, "Purchase Price" %>
			<%= f.text_field :purchase_price, {:class => "short"} %><br>
			<%= f.label :selling_price, "Selling Price" %>
			<%= f.text_field :selling_price, {:class => "short"} %><br>
			<%= f.label :description, "Description" %>
			<%= f.text_area :description %><br>

			<%= f.label :is_available, "Item Available?" %>
			<%= f.radio_button(:is_available, "true") %>
			<%= f.label(:is_available, "Yes", {:class => "short"}) %>
			<%= f.radio_button(:is_available, "false") %>
			<%= f.label(:is_available, "No", {:class => "short"}) %><br>
			
			
			<div id="submit"><%= f.submit "Create", {:class => "button"}  %></div>
		<% end %>

	</div>

	<div id="item-cats">
		<h5>CATEGORIES</h5>

		<form action="" method="post">
			<div id="cat-list">

				<% @categories.each do |category| %>
					<input type="checkbox" class="category" id="cat_<%= category.id %>"/> <%= category.name %><br>
				<% end %>

			 </div>
		  
		  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>

	<div id="item-keys">
		<h5>KEYWORDS</h5>

		<form action="" method="post">
			<div id="key-list">

				<% @keywords.each do |keyword| %>
					<input type="checkbox" name="keyword" value="<%= keyword.id %>"/> <%= keyword.phrase %><br>
				<% end %>

			 </div>
		  
		  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>

<% end %>

</body>

