<body class="image">

<% if (session[:is_admin] != 'true') %>
	<h2>Sorry, you do not have permission to access this page.</h2>
	<h4>Please <a href="/login">login</a> to continue</h4>
<% else %>

	<h5 class="topnav">You are logged in as: <%= session[:user_name] %> | <a href="/">HOME</a> | <a href="/items/<%= @item.id %>/edit">BACK TO EDIT ITEM</a></h5>

	<h1 class="headline">IMAGES</h1>

	<h5>- FOR -</h5>

	<h3><%= @item.caption %></h3>

	<%= link_to "Upload New Image", "/items/#{@item.id}/images/new" %>

	<div id="image-container">

			<% @item.images.each do |image| %>

				<div class="image-view"><a href="/images/<%= image.id %>">	
					<h5><%= image.caption %></h5>	
					<%= image_tag image.image.thumb('500x400#').url if image.image_stored? %>
				</a></div>

			<% end %>

	</div>

<% end %>
</body>