<h1>This is the add a new image page</h1>



<%= form_for @image, url: {action: "create"} do |f| %>
	<%= f.label :caption, "Caption" %>
	<%= f.text_field :caption %><br>

  <%= f.file_field :image %>

  <%= f.submit %>
  
<% end %>



